# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node
node_modules/
dist/
.DS_Store

# Project specific
backend/chroma_db/
backend/documentos/*.pdf
backend/documentos/*.txt
!backend/documentos/.keep
