fastapi
uvicorn
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-google-genai==1.0.10
langchain-huggingface
sentence-transformers
chromadb
google-generativeai
python-multipart
pypdf
python-dotenv
